*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.brands{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 50px;
}

.mycard{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 50px;
}

.mycard p{
    margin: 0;
    text-transform: uppercase;
}

body{
    background-color: black;
}

.carousel img{
    height: 400px;
    width: 100%;
}

.gendershop{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 100px 0;
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: aqua;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 25px;
    background-size: cover;
}

.circle:nth-child(1){
    background-image: url(/Assets/mens.jpg);
}

.circle:nth-child(2){
    background-image: url(/Assets/women.jpg);
}

.circle:nth-child(3){
    background-image: url(/Assets/kids.jpg);
}